
GeoHashObjC.xcodeproj/project.xcworkspace/contents.xcworkspacedata

GeoHashObjC.xcodeproj/project.xcworkspace/xcuserdata/dominik.xcuserdatad/UserInterfaceState.xcuserstate

GeoHashObjC.xcodeproj/xcuserdata/dominik.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

GeoHashObjC.xcodeproj/xcuserdata/dominik.xcuserdatad/xcschemes/GeoHashObjC.xcscheme

GeoHashObjC.xcodeproj/xcuserdata/dominik.xcuserdatad/xcschemes/xcschememanagement.plist
